<div class="content">
    <div class="header-portal">
        <h1>Portal de Rick y Morty</h1>
        <p class="subtitle">Explora el multiverso a través de nuestro portal interdimensional</p>
    </div>
    
    <div class="portal-grid">
        <!-- Chatbot Portal -->
        <div class="portal-item" (click)="navigateToChatbot()">
            <div class="portal-circle">
                <img src="https://t.ctcdn.com.br/igTaJkenhAwHCEWEm374O8PIIm4=/1024x576/smart/i849731.jpeg" alt="Chatbot">
            </div>
            <div class="portal-content">
                <h3>Rick Bot</h3>
                <p>Habla con Rick y descubre los secretos del multiverso</p>
            </div>
        </div>

        <!-- Serie Portal -->
        <div class="portal-item" (click)="navigateToSerie()">
            <div class="portal-circle">
                <img src="https://brandemia.org/contenido/subidas/2023/04/logo-max-no-hbo-1200x670.jpg" alt="Serie">
            </div>
            <div class="portal-content">
                <h3>La Serie</h3>
                <p>Explora todos los episodios y temporadas</p>
            </div>
        </div>

         <!-- Api Portal -->
         <div class="portal-item" (click)="navigateToApi()">
            <div class="portal-circle">
                <img src="https://rickandmortyapi.com/api/character/avatar/1.jpeg" alt="API">
            </div>
            <div class="portal-content">
                <h3>API</h3>
                <p>Explora la API de Rick y Morty</p>
            </div>
        </div>       
        <!-- Construcción Portal -->
        <div class="portal-item" (click)="navigateToContructions()">
            <div class="portal-circle">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrls2A3pELebhvou-uQQB8jO5YvDRIzzyoAdUj3QnnZDfNIlvQoeWvWeHsgTBp6vkJyog&usqp=CAU" alt="En Construcción">
            </div>
            <div class="portal-content">
                <h3>Dimensión C-137</h3>
                <p>¡Más aventuras interdimensionales próximamente!</p>
            </div>
        </div>


    </div>
</div>